.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageBtn {
	padding: 5px;
	margin: 0 5px;
	cursor: pointer;
	min-width: 40px;
}

.active {
	background-color: #5f9e52;
	color: white;
	outline: none;
	font-size: 17px;
}

.prev,
.next {
	border: none;
	cursor: pointer;
	font-size: 15px;
}