.container {
	margin-top: 20px;
}

.list {
	list-style: none;
	border: 1px solid #5f9e52;
	padding: 20px;
	background-color:  #5f9e52;
}

.btn {
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: #5f9e52;
	color: white;
	font-size: 20px;
}

.btnContainer {
	text-align: end;
	margin-bottom: 10px;
}

.loaderContainer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}