.container {
	width: 100%;
	height: auto;
	margin: 20px 0px;
}

.title {
	text-align: center;
	margin-bottom: 20px;
	color: #5f9e52;
	font-weight: 100;
}

.productForm {
	display: flex;
	justify-content: space-around;
	min-height: 300px;
	border: 1px solid #5f9e52;
	padding: 20px;
}

.succes {
	color: green;
	position: absolute;
	bottom: 0;
}
.error {
	color: darkgoldenrod;
	position: absolute;
	bottom: 0;
}

.button {
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: #5f9e52;
	color: white;
	font-size: 20px;
}

.firstColumn {
	width: 20%;
}

.secondColumn {
	width: 30%;
}

.thirdColumn {
	width: 30%;
}

.fourthColumn {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.firstColumn, 
.secondColumn, 
.thirdColumn {
	padding: 5px;
} 


.imgContainer {
	position: relative;
}


.fakeText {
	position: absolute;
	right: 26px;
	bottom: 0;
	background-color: white;
	font-size: 14px;
}

.brandContainer {
	width: 50%;
	height: 50%;
}

.homeLink {
	width: 300px;
	border: 2px solid #5f9e52;
	color: #5f9e52;
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
}