.container {
	width: 100%;
	height: auto;
	border: 1px solid black;
	margin-top: 20px;
}

.productForm {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 300px;
}

.succes {
	color: green;
}