.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	height: 100px;
	align-items: center;
	flex-wrap: wrap;
}

.item {
	padding: 5px 15px;
	font-size: 18px;
	color: #5f9e52;
	font-weight: 500;
	position: relative;
}

.item:last-child {
	border: none;
}

.item:hover {
	background-color: #5f9e52;
	color: white;
	cursor: pointer;
}

.item:hover .subList {
	display: block;
	left: 0;
	top: 32px;
	width: auto;
	min-width: 100%;
}

.subList {
	display: none;
	width: 100%;
	position: absolute;
	color: black;
	list-style: none;	
}

.subItem {
	padding: 0px 15px;
	border: 1px solid #5f9e52;
	border-top: none;
	background-color: white;
	width: auto;
	white-space: nowrap;
}

.subItem:first-child {
	border-top: 1px solid #5f9e52;
}

.subItem:hover {
	color: #5f9e52;
}
