.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	height: 100px;
	align-items: center;
}

.item {
	padding: 5px 15px;
	font-size: 18px;
	color: #5f9e52;
	font-weight: 500;
	border-right: 2px solid lightgray;
	transition: 0.5s padding;
	position: relative;
}

.item:last-child {
	border: none;
}

.item:hover {
	background-color: #5f9e52;
	color: white;
	cursor: pointer;
	padding-right: 50px;
}

.item:hover .subList {
	display: block;
	left: 0;
	top: 32px;
	width: auto;
	min-width: 100%;
}

.subList {
	display: none;
	width: 100%;
	position: absolute;
	color: black;
	list-style: none;	
}

.subItem {
	padding: 5px 0px 0px 15px;
	border-left: 2px solid #5f9e52;
	border-bottom: 2px solid #5f9e52;
	background-color: white;
	width: auto;
	white-space: nowrap;
	transition: 0.5s padding-left;
}

.subItem:hover {
	color: #5f9e52;
	width: calc(100% + 10px);
	padding-left: 20px;
}
