.image {
	max-width: 300px;
	max-height: 500px;
}

.content {
	display: flex;
}

.product {
	padding: 50px;
	border: 1px solid #5f9e52;
}

.info {
	padding: 30px;
}

.brand,
.volume,
.price,
.description {
	margin-bottom: 10px;
}

.btn {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #5f9e52;
	color: white;
	font-size: 20px;
}