.errorText {
	font-size: 11px;
	color: red;
}

.errorInput {
	border-color: red;
}

.select {
	padding: 5px;
	border-radius: 5px;
	border: 1.5px solid lightgray;
	width: 200px;
}

.checkBox {
	display: flex;
	align-items: center;
}

.wrapper {
	display: flex;
}

.newValueInput {
	padding: 5px;
	border-radius: 5px;
	border: solid 1.5px lightgray;
}

.newValueContainer {
	width: 100%;
	padding: 0px 30px;
}

.label {
	margin-right: 5px;
}
